body {
    font-family:  "IBM Plex Sans";
    line-height: 1.2;
}

h1 {
    font-size: 45px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 50px;
    color: #5c5c5c;
    margin-left: 50px;
    font-family: "IBM Plex Sans Condensed";
}

h2 {
    font-size: 26px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    color: #5c108c;
}

p {
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
}
    
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li.active {
    background-color: #005c39;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

figure {
    margin-left: 20%;
    margin-right: 20%;
}
   
img {
    display: block;
    width: 80%;
    min-width: 200px;
    border: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px; /*To make it look better I set the padding to be 0*/
}

figcaption {
    display: block;
    text-align: center;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

footer {
    display: block;
    border-top: 1px #333 solid;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

footer p {
    padding: 10px 10px;
    
    margin-left: 0px;
    margin-right: 0px;
}

/* tablet/small laptop */
@media screen and (min-width: 768px) {
    body {
        background-attachment: fixed;
        background-image: url("../images/merlion.jpg") ;
        background-color: #fffd;
        background-size: cover;
        background-blend-mode: overlay;
        height: 100%;
        background-repeat: no-repeat;
    }
    
    nav li {
        float: left;
    }
    
    nav li a:hover {
        background-color: #111;
    }
    
    
    figure :hover {
        transform: scale(1.2);
        box-shadow: 0 0 8px 8px goldenrod;
    }
    
    figcaption:hover {
        transform: scale(1);
        box-shadow: none;
    }
}

/* big laptop/desktop */
@media screen and (min-width: 1024px) {
    @keyframes fadeInBackground {
        from {background-color: #ffff;}
        to {background-color: #fffd;}
    }

    body {
        animation: 2s ease-in fadeInBackground;
        animation-duration: 2s;
    }
}

@media (prefers-reduced-motion) {
    body {
        animation: none;
        background-color: #fffd;
    }
}